In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
data = pd.read_csv("world_population.csv")

np.random.seed(0)
data.head()
missing_values_count = data.isnull().sum()
missing_values_count[0:10]

total_cells = np.prod(data.shape)
total_missing = missing_values_count.sum()

percent_missing = (total_missing/total_cells) * 100
print(percent_missing)
missing_values_count[0:10]

data.dropna()
columns_with_na_dropped = data.dropna(axis=1)
columns_with_na_dropped.head()

print("Columns in original dataset: %d \n" % data.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

subset_data = data.loc[:, 'Rank':'2020 Population'].head()
subset_data

subset_data.fillna(0)
subset_data.fillna(method='bfill', axis=0).fillna(0)

0.0
Columns in original dataset: 17

Columns with na's dropped: 17

/tmp/ipykernel_1546/2162690423.py:26: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  subset_data.fillna(method='bfill', axis=0).fillna(0)

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230
1,138,ALB,Albania,Tirana,Europe,2842321,2866849
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700